body{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: linear-gradient(to bottom right, #ff00fb, rgb(0, 0, 0))
}
p{
    margin: 0px !important;
    color: #00ff00
}
.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.filho{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.389);
    width: 600px;
    height: 350px;
    border-radius: 10px;
}
.filho2{
    margin-top: 10px !important;
    padding: 10px 10px 20px 10px !important;
    background-color: rgba(0, 0, 0, 0.389);
    width: 600px;
    height: auto;
    border-radius: 10px;
}
img{
    border-radius:  20px;
    width: 100px
}
.display-none{
    display: none !important;
}
.ml{
    margin-left: 12px !important;
}
span, input{
    border: 1px solid #000 !important;
    border-radius: 5px;
    margin-top: 5px !important;
}
span{
    padding: 0px 0px 0px 12px !important;
    background-color: #ccc !important;
    width: 35px !important;
}
.anotar{
    width: 276.3px !important;
}

@media(max-width:576px){
    .filho{
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.389);
        width: 360px;
        height: auto;
        border-radius: 10px;
    }
    .filho2{
        margin-top: 10px !important;
        padding: 10px 10px 20px 10px !important;
        background-color: rgba(0, 0, 0, 0.389);
        width: 360px;
        height: auto;
        border-radius: 10px;
    }
    span{
        padding: 0px 0px 0px 6px !important;
        background-color: #ccc !important;
        width: 25px !important;
    }
    .anotar{
        width: 166px !important;
    }
    .ml-sm{
        margin-left: 3px
    }
    .ml{
        margin-left: 3px !important; 
    }
    body{
        padding: 20px !important;
        
        background-image: linear-gradient(to bottom right, #ff00fb, rgb(0, 0, 0))
    }
}